
h1{
    text-align: center;
    text-shadow: 2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aqua;
}

li{
    text-align: center;
    text-decoration: none;
    background-color: blue;
    list-style-type: none;
}


.button{
    text-decoration: none;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin:10px 25px;
    padding: 3px;
    background-color: chartreuse;
    border-radius: 25%;
    color: rgb(233, 6, 6);
}

.button:hover{
    margin:25px 35px;
    padding: 10px;
    background-color: rgb(83, 148, 17);
    border-radius: 50%;
}



