/*heading styling*/
h1{
    text-align: center;
    text-shadow: 2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aqua;
}
/* I'm not sure how to style script text */
.pokemon {
   text-align: center;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin-left: 15px; 
}